body {
  background-color: lightgrey;
}

footer{
  bottom:0;
  width: 100%;
  margin-top: 5vh;
}

.greenText {
  color: green;
}

.redText {
  color: red;
}

/*input.ng-invalid {
  background-color: pink;
}
input.ng-valid {
}*/

.error {
  font-size: 0.75em;
  color:red;
}

input[type=text] {
  margin-bottom: 5px;
}

.commentBtn {
  margin-top: 20px;
}
