body {
  background-color: lightgrey;
}

footer{
  bottom:0;
  width: 100%;
  margin-top: 5vh;
  color: #FFF;
}

.greenText {
  color: green;
}

.redText {
  color: red;
}

/*input.ng-invalid {
  background-color: pink;
}
input.ng-valid {
}*/

.error {
  font-size: 0.75em;
  color:red;
}

input[type=text] {
  margin-bottom: 5px;
}

.commentBtn {
  margin-top: 1vh;
}

.postBtn {
  margin-top: 1vh;
}

.submitPostNav{
  margin-left: 1vw;
}

input[type=search] {
  padding-left: 1vw;
}

input[type=search]:focus {
  background-color: rgba(255, 255, 255, 0.75);
  border: 0;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.postForm {
  margin-top: 3vh;
}
