<!DOCTYPE html>
<html ng-app='reddit-clone'>
<head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="css/style.css" media="screen" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body ng-controller='RedditController'>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><div id="logo-container" href="#" class="brand-logo">Reddit Clone</div>
      <ul class="right">
        <li ng-click='showAddPost()'><a href='#'>Submit Post</a></li>
        <li><a href='#'>Search Box Here</a></li>
        <li><a href='#'>INSERT DROPDOWN</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
        <li><a href="#">Submit Post</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div class='container'>
    <!-- Start Submit Form, Title First Input -->
    <div class='showComments' ng-show='showPostForm'>
      <form name='postForm' novalidate>
        <fieldset>
          <div class="input-field postInput">
            <label>Title: </label>
            <input type="text"
            ng-maxlength=100
            ng-minlength=2
            ng-model= 'postFormTitle'
            name="postFormTitle"
            id="postFormTitle" required />
          </div>
          <div class="error-container"
           ng-show='postForm.postFormTitle.$dirty && postForm.postFormTitle.$invalid'>
             <small class='error' ng-show='postForm.postFormTitle.$error.minlength'>
               Please enter a valid title name.
            </small>
            <small class='error' ng-show='postForm.postFormTitle.$error.maxlength'>
              Your title name cannot be longer than 100 characters.
           </small>
            <small class='error' ng-show='postForm.postFormTitle.$error.required'>
              An title name is required.
            </small>
          </div>
          <!-- Author Input -->
          <div class="input-field postInput">
            <label>Author: </label>
            <input type="text"
            ng-maxlength=25
            ng-minlength=2
            ng-model= 'postFormAuthor'
            name="postFormAuthor"
            id="postFormAuthor" required />
          </div>
          <div class="error-container"
           ng-show='postForm.postFormAuthor.$dirty && postForm.postFormAuthor.$invalid'>
             <small class='error' ng-show='postForm.postFormAuthor.$error.minlength'>
               Please enter a valid author name.
            </small>
            <small class='error' ng-show='postForm.postFormAuthor.$error.maxlength'>
              Your author name cannot be longer than 25 characters.
           </small>
            <small class='error' ng-show='postForm.postFormAuthor.$error.required'>
              An author name is required.
            </small>
          </div>
          <!-- Body Input -->
          <div class="input-field postInput">
            <label>Post Text: </label>
            <input type="text"
            ng-maxlength=500
            ng-minlength=2
            ng-model= 'postFormBody'
            name="postFormBody"
            id="postFormBody" required />
          </div>
          <div class="error-container"
           ng-show='postForm.postFormBody.$dirty && postForm.postFormBody.$invalid'>
             <small class='error' ng-show='postForm.postFormBody.$error.minlength'>
               Please enter more than 1 character for your post text.
            </small>
            <small class='error' ng-show='postForm.postFormBody.$error.maxlength'>
              Your post text cannot be longer than 500 characters.
           </small>
            <small class='error' ng-show='postForm.postFormBody.$error.required'>
              Post text is required.
            </small>
          </div>
          <!-- Image Input -->
          <div class="input-field postInput">
            <label>Image URL: </label>
            <input type="text"
            ng-maxlength=500
            ng-minlength=3
            ng-model= 'postFormImg'
            name="postFormImg"
            id="postFormImg" required />
          </div>
          <div class="error-container"
           ng-show='postForm.postFormImg.$dirty && postForm.postFormImg.$invalid'>
             <small class='error' ng-show='postForm.postFormImg.$error.minlength'>
               Please enter a valid URL.
            </small>
          </div>
          <!-- Submit Form -->
            <input class='waves-effect waves-light btn postBtn' type="button" value="Submit Post" ng-click='submitPost(view.posts, postFormTitle, postFormAuthor, postFormBody, postFormImg)' />
          </div>
        </fieldset>
      </form>
    </div>

    <div ng-repeat="post in view.posts | orderBy: '-votes'">
      <h3>{{post.title}} <i class='material-icons' ng-click='upVote(post)'>thumb_up</i> | <i class='material-icons' ng-click='downVote(post)'>thumb_down</i> | <span ng-class='{greenText: post.votes > 0, redText: post.votes < 0}'>{{post.votes}}</span></h3>
      <h5>{{post.author}}</h5>
      <img src='{{post.img}}' alt='{{post.title}}' />
      <p>{{post.body}}</p>
      <p>{{post.date | date:"MMM d, y 'at' h:mma"}}</p>

      <p ng-click='showComments(post)'>{{post.comments.length}} Comments </p>
      <div class='comments' ng-repeat='comment in post.comments' ng-show='post.commentsView'>
        <p><strong>{{comment.commentBody}}:</strong> {{comment.commentBody}}</p>
      </div>

      <p ng-click='showAddComment(post)'>Add Comment</p>

      <div class="addComments" ng-show="post.addCommentView">
        <form name='commentForm' novalidate>
          <fieldset>
            <div class="input-field commentInput">
              <label>Author: </label>
              <input type="text"
              ng-maxlength=25
              ng-minlength=2
              ng-model= 'commentAuthor'
              name="commentAuthor"
              id="commentAuthor" required />
            </div>
            <div class="error-container"
             ng-show='commentForm.commentAuthor.$dirty && commentForm.commentAuthor.$invalid'>
               <small class='error' ng-show='commentForm.commentAuthor.$error.minlength'>
                 Please enter a valid author name.
              </small>
              <small class='error' ng-show='commentForm.commentAuthor.$error.maxlength'>
                Your author name cannot be longer than 25 characters.
             </small>
              <small class='error' ng-show='commentForm.commentAuthor.$error.required'>
                An author name is required.
              </small>
            </div>


            <div class="input-field commentInput">
              <label>Comment: </label>
              <input type="text"
              name="commentBody"
              ng-minlength=2
              ng-maxlength=140
              ng-model= 'commentBody'
              id="commentBody" required />
            </div>
            <div class="error-container"
             ng-show='commentForm.commentBody.$dirty && commentForm.commentBody.$invalid'>
             <small class='error' ng-show='commentForm.commentBody.$error.required'>
               Please enter your comment.
             </small>
             <small class='error' ng-show='commentForm.commentBody.$error.minlength'>
               Your comment should be atleast two characters.
             </small>
             <small class='error' ng-show='commentForm.commentBody.$error.maxlength'>
               Comments are Twitter style.  Please limit your comment to 140 characters.
             </small>
           </div>

          <input class='waves-effect waves-light btn commentBtn' type="submit" value="Submit Comment" ng-click='submitComment(post, commentBody, commentBody)'/>
        </fieldset>
        </form>
      </div>

    </div>
  </div>





  <footer>
    <div class="footer-copyright cyan">
      <div class="container">
      Made by <span class="orange-text text-lighten-2">Tim Pender</span>
      </div>
    </div>
  </footer>

</body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js'></script>
  <script type="text/javascript" src='js/app.js'></script>


</html>
