<!DOCTYPE html>
<html ng-app='reddit-clone'>
<head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>
    <link rel="stylesheet" href="css/style.css" media="screen" charset="utf-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body ng-controller='RedditController'>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><div id="logo-container" href="#" class="brand-logo">Reddit Clone</div>
      <ul class="right">
        <li>Submit Post</li>
        <li>Search Box Here</li>
        <li>Sort by VOTES + OTHERs</li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
        <li><a href="#">Submit Post</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <div class='container'>
    <div ng-repeat="post in view.posts | orderBy: post.votes">
      <h3>{{post.title}} <i class='material-icons' ng-click='upVote(post)'>thumb_up</i> | <i class='material-icons' ng-click='downVote(post)'>thumb_down</i> | <span ng-class='{greenText: post.votes > 0, redText: post.votes < 0}'>{{post.votes}}</span></h3>
      <h5>{{post.author}}</h5>
      <img src='{{post.img}}' alt='{{post.title}}' />
      <p>{{post.body}}</p>
      <p>{{post.date | date:"MMM d, y 'at' h:mma"}}</p>
      <p ng-click='showAddComment(post)'>Add Comment</p>
      <p ng-click='showComments(post)'>{{post.comments.length}} Comments </p>
      <div class='comments' ng-repeat='comment in post.comments' ng-show='post.commentsView'>
        <p><strong>{{comment.author}}:</strong> {{comment.commentBody}}</p>
      </div>
      <div class="addComments" ng-show="post.addCommentView">
        <strong>Author: </strong><input type='text' /> <strong>Comment: <input type='text' />
      </div>

    </div>
  </div>





  <footer>
    <div class="footer-copyright cyan">
      <div class="container">
      Made by <span class="orange-text text-lighten-2">Tim Pender</span>
      </div>
    </div>
  </footer>

</body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js'></script>
  <script type="text/javascript" src='js/app.js'></script>


</html>
