{
title: 'Harry Porter',
author: 'Albus Dumblebored',
body: 'Dark, twisted, and its served in a Goblet of Fire!!',
votes: 12,
img: 'https://s-media-cache-ak0.pinimg.com/564x/05/3b/4a/053b4a92b6c441b551f1d268b255293c.jpg',
comments: [],
commentsView: false,
addCommentView: false,
date: new Date()
}











<div class="addComments" ng-show="post.addCommentView">
  <form name='commentForm' novalidate>
    <fieldset>
      <div class="input-field commentInput">
        <label>Author: </label>
        <input type="text"
        ng-maxlength=25
        ng-minlength=2
        ng-model= 'commentAuthor'
        name="commentAuthor"
        id="commentAuthor" required />
      </div>
      <div class="error-container"
       ng-show='commentForm.commentAuthor.$dirty && commentForm.commentAuthor.$invalid'>
         <small class='error' ng-show='commentForm.commentAuthor.$error.minlength'>
           Please enter a valid author name.
        </small>
        <small class='error' ng-show='commentForm.commentAuthor.$error.maxlength'>
          Your author name cannot be longer than 25 characters.
       </small>
        <small class='error' ng-show='commentForm.commentAuthor.$error.required'>
          An author name is required.
        </small>
      </div>


      <div class="input-field commentInput">
        <label>Comment: </label>
        <input type="text"
        name="commentBody"
        ng-minlength=2
        ng-maxlength=140
        ng-model= 'commentBody'
        id="commentBody" required />
      </div>
      <div class="error-container"
       ng-show='commentForm.commentBody.$dirty && commentForm.commentBody.$invalid'>
       <small class='error' ng-show='commentForm.commentBody.$error.required'>
         Please enter your comment.
       </small>
       <small class='error' ng-show='commentForm.commentBody.$error.minlength'>
         Your comment should be atleast two characters.
       </small>
       <small class='error' ng-show='commentForm.commentBody.$error.maxlength'>
         Comments are Twitter style.  Please limit your comment to 140 characters.
       </small>
     </div>

     <input class='waves-effect waves-light btn commentBtn' type="submit" value="Submit Comment" ng-click='submitComment(post, commentBody, commentBody)'/>
   </fieldset>
   </form>
